<main class="bg-primary bg-opacity-50">
    <h1 class="py-3">CRUD Clientes</h1>
    <div class="bg-secondary-subtle col-4 text-black container rounded-4 my-3">
        <h2 class="py-4">Crear Clientes</h2>

        <div class="container col-8 text-start ">
            <form action="/api/v1/clientes" method="POST" class="mb-3">
                <label for="inputNombre" class="form-label">Nombre:</label>
                <input class="form-control" type="text" id="inputNombre" name="nombre" required>
                <label for="inputRut" class="form-label">Rut:</label>
                <input type="text" name="rut" id="inputRut" class="form-control" required>
                <label for="inputEmail" class="form-label">Email:</label>
                <input class="form-control" type="email" name="email" id="inputEmail" required>
                <label for="inputTel" class="form-label">Telefono:</label>
                <input class="form-control" type="text" id="inputTel" name="telefono" value="+569" required>
                <label for="inputServ" class="form-label">Servicio:</label>
                <input accept="" type="text" name="servicio" id="inputServ" class="form-control" required>
                <input type="hidden" name="tipoApi" value="propia">
                <button type="submit" class="btn btn-dark mx-auto my-3 mb-3">Crear</button>
            </form>
        </div>
    </div>
    <div class="container-fluid" style="height: 1vh;"></div>
</main>