<main id="divVista" class="bg-primary bg-opacity-50">
    main
    <h1 class="py-5">CRUD Clientes</h1>

    <div >
        <div id="btnCrear" class="m-3 d-inline-block">
            <button class="btn btn-dark text-light">Crear Cliente </button>
        </div>
        <div id="btnVer" class="m-3 d-inline-block">
            <button class="btn btn-dark text-light">Ver Clientes </button>
        </div>
        <div id="btnActualizar" class="m-3 d-inline-block">
            <button class="btn btn-dark text-light">Actualizar Cliente </button>
        </div>
        <div class="m-3 d-inline-block">
            <button class="btn btn-dark text-light">Eliminar Cliente </button>
        </div>
    </div>
</main>

