
    <h1>Lista de Usuarios</h1>
    <ul>
        {{#each datos}}
            <li>{{this.nombre}}</li>
            <li>{{this.email}}</li>
            <li>{{this.telefono}}</li>
        {{/each}}
    </ul>